<body>
<h1 style="color: #256acb">Alerte 404!!</h1>
<p>Vous n'êtes pas autorisé à utiliser ce service, merci de faire retourner à la page <a style="color: #256acb" href="{{ path('home') }}">d'acceuil</a></p>
</body>
<style>
    body {
        display: inline-block;
        background: #f6822d;
        height: 100vh;
        margin: 0;
        color: #000000;
    }
    h1 {
        margin: .8em 3rem;
        font: 4em Roboto;
        text-align: center;
    }
    p {
        display: inline-block;
        margin: .2em 3rem;
        font: 2em Roboto;
    }
</style>
